* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #333333, #666666);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #555555, #888888);
}

:root {
  --dark-blue: #000958;
  --dark-orange: #ff5b2e;
  --white: #fffaf5;
  --light-yellow: #f0eabe;
  --black: #434242;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 500;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #000958;
}
a:link {
  color: #000958;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  color: red;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  margin: 0 auto;
  width: 100%;
  height: 4rem;
  padding: 1rem;
  background-color: white;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  width: 100%;
  padding: 2rem 0;
  background-color: #fbfbfb;
}

.back-landing {
  background-image: url("/landing-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.back-reserve {
  background-image: url("/reserve-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dark-border {
  border-color: var(--dark-orange);
}

h1 {
  color: var(--dark-blue);
  text-transform: uppercase;
  font-size: 900px;
  font-weight: 800;
}
h2 {
  color: var(--dark-cyan);
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 900;
}

hr {
  margin: 1rem 0;
  border-top: 3px solid var(--dark-cyan);
  border-radius: 20px;
  width: 30%;
}

button {
  outline: none;
  border: none;
  padding: 1rem 2rem;
  font-weight: 100;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  color: var(--white);
}

input .input_error {
  border: red;
}

.pdf_logo {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.back-red {
  background-color: #f55c47;
  color: var(--white);
}

.back-green {
  background-color: #4aa96c;
  color: var(--white);
}

.color-blue {
  color: var(--dark-blue);
}

.color-orange {
  color: var(--dark-orange);
}

.color-red {
  color: #f55c47;
}

.color-white {
  color: var(--white);
}

.large-text {
  font-size: 75px;
  font-weight: 700;
}

.large-light-text {
  font-size: 75px;
  font-weight: 300;
}

.light-text {
  font-size: 1rem;
  font-weight: 300;
}

.white-text {
  color: var(--white);
}

.back-orange {
  background-color: var(--dark-orange);
  color: var(--white);
}
.back-blue {
  background-color: var(--dark-blue);
  color: var(--white);
}

.medium-text {
  font-size: 1.5rem;
}

.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 900;
}

.footer-row {
  display: flex;
  justify-content: space-around;
}

.lower-case {
  text-transform: lowercase;
}

.link {
  color: var(--dark-blue);
}

.uppercase {
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .large-text {
    font-size: 2.5rem;
  }
  .text-center {
    text-align: center;
  }
  .align-center {
    align-self: center;
  }
  a {
    margin: 1rem 0;
  }
  .medium-text {
    font-size: 1rem;
  }
}

/* CUSTOM CLASSES*/
